<div class="container">
    <div>
      <div style="display: flex; justify-content: center">
        <form
          [formGroup]="myForm" (ngSubmit)="onAddHotel(myForm)"  style="width: 50%" >
          <h2 class="text-center" *ngIf="!status">Ajout d'un Hotel</h2>
          <h2 class="text-center" *ngIf="status">Modification d'un Hotel</h2>
          <div *ngIf="myForm.value.id" class="form-group">
            <label class="control-label">Id : </label>
            <input id="id" type="text"  formControlName="id"  class="form-control"  readonly />
          </div>
          <div class="form-group">
            <label class="control-label">Nom de l'Hotel : </label>
            <input type="text" formControlName="name" class="form-control" />
            <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched" class="text-danger">
                <small *ngIf="myForm.get('name')?.errors?.['required']">Le nom est requis</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Adresse : </label>
            <input type="text"formControlName="address"class="form-control"/>
            <div *ngIf="myForm.get('address')?.invalid && myForm.get('address')?.touched" class="text-danger">
              <small *ngIf="myForm.get('address')?.errors?.['required']">L'adresse est requise</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Telephone : </label>
            <input type="text"formControlName="phone"class="form-control"/>
            <div *ngIf="myForm.get('phone')?.invalid && myForm.get('phone')?.touched" class="text-danger">
              <small *ngIf="myForm.get('phone')?.errors?.['required']">LE télephone est requis</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Nombre Etoile : </label>
            <input type="number"formControlName="numberOfStar"class="form-control"/>
            <div *ngIf="myForm.get('numberOfStar')?.invalid && myForm.get('numberOfStar')?.touched" class="text-danger">
              <small *ngIf="myForm.get('numberOfStar')?.errors?.['required']">LE nombre est requis</small>
              <small *ngIf="myForm.get('numberOfStar')?.errors?.['min']">LE nombre doit sup à égale à 0</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Prix : </label>
            <input type="number" formControlName="price" min="0"   class="form-control" />
            <div *ngIf="myForm.get('price')?.invalid && myForm.get('price')?.touched" class="text-danger">
              <small *ngIf="myForm.get('price')?.errors?.['required']">LE prix est requis</small>
              <small *ngIf="myForm.get('price')?.errors?.['min']">LE prix doit sup à ou égal à 0</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Chambre Disponibles : </label>
            <input type="number" formControlName="totalRoomOfAvailable" min="0"  class="form-control" />
            <div *ngIf="myForm.get('totalRoomOfAvailable')?.invalid && myForm.get('totalRoomOfAvailable')?.touched" class="text-danger">
              <small *ngIf="myForm.get('totalRoomOfAvailable')?.errors?.['required']">LE nombre est requis</small>
              <small *ngIf="myForm.get('totalRoomOfAvailable')?.errors?.['min']">LE nombre doit sup à ou égal à 0</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Image :</label>
            <input type="file" (change)="onFileSelected($event)" class="form-control" />
          </div>
          
          <img *ngIf="imagePreview" [src]="imagePreview" alt="Aperçu de l'image" class="img-thumbnail mt-2" width="200">
          
          <div class="form-group">
            <label class="control-label">Ville : </label>
            <select formControlName="city" class="form-select">
              <option value="" disabled selected>Sélectionnez une Ville</option>
              <option *ngFor="let city of cities" [value]="city.id">
                {{ city.name }}
              </option>
            </select>
            <div *ngIf="myForm.get('city')?.invalid && myForm.get('city')?.touched" class="text-danger">
              <small *ngIf="myForm.get('city')?.errors?.['required']">La ville est requise</small>
            </div>
          </div>
  
          <div>
            <button *ngIf="!status" type="submit" class="btn btn-primary">Enregistrez</button>
            <button *ngIf="status" type="submit" class="btn btn-primary">Mise à jour</button>
            <div class="text-danger">{{ error }}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
