<div class="container">
    <div>
      <div style="display: flex; justify-content: center">
        <form
          [formGroup]="myForm" (ngSubmit)="onAddHotel(myForm)"  style="width: 50%" >
          <h2 class="text-center" *ngIf="!status">Ajout d'un Hotel</h2>
          <h2 class="text-center" *ngIf="status">Modification d'une Hotel</h2>
          <div *ngIf="myForm.value.id" class="form-group">
            <label class="control-label">Id : </label>
            <input id="id" type="text"  formControlName="id"  class="form-control"  readonly />
          </div>
          <div class="form-group">
            <label class="control-label">Nom de l'Hotel : </label>
            <input type="text" formControlName="name" class="form-control" />
          </div>
          <div class="form-group">
            <label class="control-label">Adresse : </label>
            <input type="text"formControlName="address"class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="control-label">Telephone : </label>
            <input type="text"formControlName="phone"class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="control-label">Nombre Etoile : </label>
            <input type="text"formControlName="numberOfStar"class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="control-label">Prix : </label>
            <input type="number" formControlName="price" min="0"   class="form-control" />
          </div>
          <div class="form-group">
            <label class="control-label">Chambre Disponibles : </label>
            <input type="number" formControlName="totalRoomOfAvailable" min="0"  class="form-control" />
          </div>
          <div class="form-group">
            <label class="control-label">Image :</label>
            <input type="file" (change)="onFileSelected($event)" class="form-control" />
          </div>
          
          <img *ngIf="imagePreview" [src]="imagePreview" alt="Aperçu de l'image" class="img-thumbnail mt-2" width="200">
          
          <div class="form-group">
            <label class="control-label">Ville : </label>
            <select formControlName="city" class="form-select">
              <option value="" disabled selected>Sélectionnez une Ville</option>
              <option *ngFor="let city of cities" [value]="city.id">
                {{ city.name }}
              </option>
            </select>
          </div>
  
          <div>
            <button type="submit" class="btn btn-primary"> Enregistrez</button>
            <!-- <button *ngIf="status" type="submit" class="btn bg-orange c-white">
              Mise à jour
            </button> -->
            <div class="text-danger">{{ error }}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
